.bg{
  background: #077cb3;
}
.main-navbar-light{
  background:transparent!important;
  position: absolute;
  left:0;
  right: 0;
  z-index:3;
  top:10px;
  scroll-behavior: smooth;

  
}
.nav-link{ 
    font-size: 20px;
    margin-right: 90px;

  }



/*====End of Navabr==*/
/*====Hero Section===*/
.hero-wrap{
    width:100%;
    height:850px;
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index:0;
}
.hero-wrap .overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:"";
    opacity: .5;
    background: #077cb3;
    height: 850px;
}
.hero-wrap .main-text{
    height:800px!important;

}
.main-text h1{
    font-size:60px;
    color:#fff;
    line-height:1.1;
    font-weight: bold;
    
}
.main-text p{
    line-height: 1.5;
   color:#fff;
}
.btn-hero{
    background-color: #030157!important;
    color:#fff!important;
    margin-right:5px;
    margin-left:5px;
    animation:skew 3s infinite;
    animation-direction: normal;
    transform: skew(20deg);
    animation-direction: alternate;
    padding:5px 17px;
}
@keyframes skew{
    0%{
        transform: skewX(20deg);
    }
    100%{
        transform: skewX(-20deg);
    }
}
/*====End of Hero Section===*/

/*====Welcome Section====*/
.heading-section h2{
    text-transform: uppercase;
    font-weight: bold;
}
.img-wrap .effect{
    position: relative;
    margin-bottom: 0;
    display: block;
}
.img-wrap .effect:after{
    z-index:-1;
    content:"";
    position: absolute;
    top:10px;
    right:10px;
    bottom:10px;
    left:10px;
    background: #011525;
    transition: .3s all ease-in-out;
}
.img-wrap:hover .effect:after{
    right:-10px;
    bottom:-10px;
    position: absolute;
}
.btn-about{
    background-color: #030157!important;
    color:#fff!important;
    margin-right:5px;
    margin-left:5px;
    animation:skew 3s infinite;
    animation-direction: normal;
    transform: skew(20deg);
    animation-direction: alternate;
    padding:5px 17px;
}
@keyframes skew{
    0%{
        transform: skewX(20deg);
    }
    100%{
        transform: skewX(-20deg);
    }
}


/*==========Popular Places===========*/
/*----Popular Places---*/
.popular {
    background-image: url('image/n4.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 180px;
    padding-bottom: 340px;
  }
  .popular:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:linear-gradient(rgba(26, 144, 255, 0.5),rgba(236, 5, 236, 0.4)),
    url(./images/hero-2.jpg)center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
  }
  .all-image {
    padding-bottom: 75px;
    position: relative;
    margin-top: -295px;
  }
  .all-image .single-img {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .all-image .single-img .img-thumb {
    height: 410px;
  }
  .all-image .single-img .img-thumb img {
    width: 100%;
    height: 100%;
  }
  .all-image .single-img .img-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(2, 58, 110, 0.6);
    transform: translateX(-50%);
    transition: 0.5s;
    opacity: 0;
    overflow: hidden;
  }
  .all-image .single-img .img-hover .title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
  }
  .all-image .single-img .img-hover h3 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  .all-image .single-img:hover .img-hover {
    transform: translateX(0%);
    opacity: 1;
  }
  
/*==========End of Popular Places===========*/


/*=====Contact section===*/
.contact .icon-box{
    color:#030942;
    text-align:center;
    box-shadow:0 0 15px rgba(2,81,160,0.6);
    padding:20px 0 30px 0;
}
.contact .icon-box i.fab{
    font-size:20px;
    color:#0292f1;
    border-radius: 50%;
    padding:8px;
    background:#030942;
}
.contact .icon-box h3{
    font-size:20px;
    color:#000;
    font-weight:bold;
    margin:10px 0;
}
.contact .icon-box p{
    padding:0;
    line-height:24px;
    font-size:14px;
    margin-bottom:0;
}
.contact .social-links{
    margin-top:15px;
    display:flex;
    justify-content:center;
}
.contact .social-links a{
    font-size:16px;
    display: inline-block;
    color:#fff;
    line-height:1;
    margin:0 8px;
    transition: 0.3s;
    padding:10px;
    border-radius:50px;
    border:1px solid #030942;
}
.contact .social-links a:hover{
    color:#fff;
    border-color:#030942;
    background:#0292f1;
}
.contact form{
    box-shadow:0 0 15px rgba(2,81,160,0.6);
    padding:27px;

    
}
/*=====End of contact section===*/


#footer .copyright{
    float:left;
    color:#000;
}
#footer .credits{
    float: right;
    font-size:16px;
    color:#000;
}
#footer .credits a{
    color:#000;
}
@media (max-width:575px){
    #footer .copyright, #footer .credits{
        float:none;
        text-align:center;
    }
}
h6{text-align: right;
font: size 20px;
}
h5{text-align: right;
}





@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #81c644;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background:burlywood;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color:white;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
.copyright{text-align: right;
}
footer{
    bottom:20px;
}

